* {-webkit-font-smoothing: antialiased;}

@font-face {
  font-family: "Avenir Next";
  src: url("/static/fonts/AvenirNext-Medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/static/fonts/AvenirNext-Demi.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Avenir Next";
  src: url("/static/fonts/AvenirNext-Bold.ttc");
  font-weight: 900;
}

body {
  margin: 0;
  font-family: 'Avenir Next';
  background-color: black;
}

.main-back {
  height: 900px;
  width: 1600px;
  background-image:url("back.png");
  background-repeat: no-repeat;
  margin: auto;

}

.blur-overlay {
  position: absolute;
  width: inherit;
  height: inherit;
  backdrop-filter: blur(5px);
}

.base-menu {
  display: flex;
  flex-direction: column;
  width: 1190px;
  height: 785px;
  background-color: #474757;
  z-index: 10;
  position: absolute;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.14), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.tabcontent {
  flex-grow: 1;
}

.tabcontent.visible {
  visibility: visible;
}

.tabcontent.hidden {
  display: none !important;
  visibility: collapse;
}

#Tavern {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}

.skill-tree {
    align-self: center;
    justify-self: flex-end;
}

.skill_item {
  border: none;
  outline: none;
  /* margin: 30px; */
  display: flex;
  width: 55px;
  height: 55px;
  background-color: #C4C4C4;
  border-radius: 1px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}

.skill_item.item-unavailable {
  box-shadow: 0px 0px 8px 1px rgb(255 255 255 / 58%);
  border: 3.5px solid #474757;
  outline: 2px solid white;
  border-radius: 0px;
  margin: 17px;
}

.skill_item.item-available {
  border-radius: 0px;
  /* margin: 17px; */
  background-color: white;
}

.skill_item.item-active {
  border-radius: 0px;
  /* margin: 17px; */
  background: linear-gradient(137.23deg, #FAA161 24.03%, #F71C92 199.29%);
}

.skill_item.selected_item {
  box-shadow: 0px 0px 8px 1px rgb(255 255 255 / 58%) !important;
  border: 3.5px solid #474757 !important;
  outline: 2px solid white !important;
}

.skill_item.item-active {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  border-radius: 0px;
  /* margin: 20px; */
  background: linear-gradient(137.23deg, #FAA161 24.03%, #F71C92 199.29%);
}

.skill_item.item-available {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
  border: none;
  outline: none;
  border-radius: 0px;
  z-index: 100;
  /* margin: 20px; */
  /* background-color: white; */
}

.skill_item .icon {
  max-width: 32px;
  max-height: 32px;
  background-repeat: no-repeat;
  background-position: center;
}

.info-container {
  position: relative;
}

.info_item_container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infocontent {
  transition: 0.5s ease-out;
}

.info_image {
  border-radius: 10px;
  background-size: contain;
  width: 414px;
  height: 154px;
}

.info_title {
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  width: 395px;
  line-height: 29px;
  color: #FFFFFF;
  margin-top: 26px;
  margin-left: 20px;
}

.info_description {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  background-color: #41414F;
  padding: 23px 26px;
  border-radius: 3px;
  width: 363px;
  margin-top: 16px;
}

.info_buffs {
  margin-top: 21px;
}

.info_buff_description {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  margin-top: 6px;
}

.info_cost::before {
  width: 40px;
  height: 40px;
  content: "";
  float: left;
  display: block;
  margin-right: 6px;
  background: url("interface_icons/money_icon.png") no-repeat;
  background-size: contain;
}

.info_cost {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 40px;
  margin-left: 14px;
  color: #FFFFFF;
  text-shadow: 0px 0.876872px 0.876872px rgba(0, 0, 0, 0.14), 0px 1.75374px 0.876872px rgba(0, 0, 0, 0.12), 0px 0.876872px 2.63062px rgba(0, 0, 0, 0.2);
}

.info_button {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #292929;
  padding: 7px 22px;
  border-radius: 4px;
  border: none;
}

.info_button_available {background: linear-gradient(137.23deg, #FAA161 24.03%, #F71C92 199.29%);/* 04 dp */box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.14), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 2px 4px rgba(0, 0, 0, 0.2);}

.info_button_unavailable {
  background-color: #C4C4C4;
}

.info_button_active {
  background-color: #474757;
  color: #FA836D;
  border: 2px solid #FA836D;
}

.info_upgrade_container {
  display: flex;
  margin-top: 24px;
}

.text_orange {
  color: #FA836D;
}

.tab {
  margin: auto;
  width: max-content;
}

.tablinks {
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.8);
  background: none;
  border: none;
  padding: 15px 30px;
}

.tablinks.active {
  color: white;
  background-size: contain;
  background-position: bottom -50px left 0;
  background-image: linear-gradient(90.09deg, #FBA262 -5.72%, #F96F74 100.31%);
  background-repeat: no-repeat;
  transition: 0.5s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.menu-header {
  border-bottom: 1px solid #6C6C6C;
}

.first_level_container {
  display: flex;
}

.second_level_container {
    display: flex;
    flex-direction: column;
    margin-top: -78px;
}

.third_level_container {
  margin: 24px 0;
  display: flex;
}

.border_vert {
  width: 0px;
  background-color: #949494;
  border: 1px solid #949494;
  height: 90px;
  margin: 0 25px;
}

.border_center_horizontal_short {
  width: 40px;
  background-color: #949494;
  border: 1px solid #949494;
  height: 0px;
  margin: 25px 0;
}

.border_top_horizontal_short {
  width: 30px;
  background-color: #949494;
  border: 1px solid #949494;
  height: 0px;
  margin: 0 0px;
  margin-top: -25px;
}

.border_bottom_horizontal_short {
  width: 30px;
  background-color: #949494;
  border: 1px solid #949494;
  height: 0px;
  margin: 0 0px;
  margin-top: 98px;
}

.border_vertical_short {
  width: 0px;
  background-color: #949494;
  border: 1px solid #949494;
  height: 100px;
  margin: 0 0;
  margin-top: -25px;
}

.border_container {
  display: flex;
  flex-direction: column;
}

